* {
    box-sizing: border-box;

}

body {
    background-image: url(img/pattern.gif);
    background-size: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

#canvas {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #003300;

}

body #content {
    box-sizing: content-box;
    background-color: white;
    border: 1px solid #003300;
    border-radius: 3px;
}

#header {
    background-image: url(img/bg-top.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
    width: 640px;
    border: 1px solid #003300;

}

#footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 640px;
    border: 1px solid #003300;
    padding: 30px;
}

label {
    font-size: 20px;
    text-decoration: underline;
}

p {
    margin: 0;
    background: #003300;
    padding: 20px;
    color: white;
    width: fit-content;
    border-radius: 3px;
}

#resolution-option {
    display: flex;

    flex-direction: column;
}

.pixel {
    width: 25%;
    border: dotted 1px rgb(219, 255, 219);
    flex: 1 0 25%;
    background-color: white;
    cursor: crosshair;

}

.eraser .pixel {
    cursor: cell;
}

.dark-pixel {
    background-color: #003300;
    border: solid 1px #003300;
}


.button {
    width: 155px;
    height: 32px;
    border: solid 1px #003300;
    border-bottom: solid 2px #003300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.button.active,
.button:active {
    border: solid 1px #003300;
    border-bottom: solid 2px #003300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #003300;
    color: white;
}




/*style range input*/
input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 200px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #003300;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #003300;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #003300;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #003300;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #003300;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #003300;
}

input[type=range]:focus::-ms-fill-upper {
    background: #003300;
}