* {
    box-sizing: border-box;
}

#canvas {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px green;

}

.pixel {
    width: 25%;
    border: solid 1px rgb(219, 255, 219);
    flex: 1 0 25%;

}

.dark-pixel {
    background-color: darkgreen;
    border: solid 1px darkgreen;
}